/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border:1px solid green;
}
#green{
	margin-top:10px;
	background-color:green;
	border:1px solid yellow;
}

#red{
	margin-top:10px;
	background-color:red;
	border:1px solid black;
}